.datos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;
}

.dato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-fondo-claro);
    padding: 2rem;
    border-radius: 20px;
}

.dato h3 {
    color: var(--color-texto-oscuro);
}

.dato p {
    color: var(--color-texto-oscuro);
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 1900px) {
    .dato h3 {
        font-size: 1.8rem;
    }

    .dato p {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .datos {
        grid-template-columns: repeat(2, 1fr);
    }

    .dato {
        padding: 1.2rem;
    }

    .dato h3 {
        font-size: 1.5rem;
    }

    .dato p {
        font-size: 0.9rem;
    }
}
